<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Typist</title>
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body>
        <div class="typist-wrapper">
            <ul class="nav-bar">
                <li class="i-am-cool"><a href="/"><img src="../assets/logo.png" id="logo"></a></li>
                <li>Made By Christopher</li>
                <li>|</li>
                <li><a href="/about">about</a></li>
            </ul>
        </div>

        <div class="about">
            <h2>About</h2>
            <p>This is a small website, which I made for the final project in ZLI.</p>
            <p>It was made to hone your typing skills. It offers various practice methods with an exciting UI. I used Vanilla Javascript, HTML, CSS and Express used as Backend (Under construction).</p>
            <p>Because of some circumstances, I did not finish everything I planned, therefore I will continue to develop this site in the future. My goal is to add a bunch of more practice methods, properly build the backend and ultimately publish it on the web.</p>
            <p><b>-Christopher</b></p>
        </div>
    </body>

</html>