@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

*{
    box-sizing: border-box;

}

html {
    background-color:rgb(41, 93, 123);
    font-family: 'Heebo', sans-serif;
}

/* typer */

.stats {
    margin-left: 1.5vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    visibility: hidden;
    float: left;
    height: 32px;
    width: 100%;
    color: rgba(103, 154, 132, 0.7);
}

.text {
    color: rgb(0, 0, 0, 0.5);
    height: 10vh;
    border: 2px solid rgb(47, 47, 47, 0.6);
    border-radius: 25px;
    margin-bottom: 25px;
}

.input {
    height: 5vh;
    background-color:rgb(41, 93, 123);
    color: rgb(0, 0, 0, 0.75);
    resize: none;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 50px;
    border: none;
}

.text, .input{
    width: 100%;
    outline: none;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: hidden;
    padding: 10px;
    font-size: 2.5vh;
}

.input::placeholder {
    color: rgb(0, 0, 0, 0.45)
}

.text, .stats, .keyboard, .pop-up, .restart-button, .input {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.typist-wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
}

.correct{
    color: rgba(103, 154, 132, 0.7);
}
.wrong{
    text-decoration: underline;
    text-decoration-color: rgba(188, 2, 2);
    color: rgba(92, 9, 9);
}

/* nav-bar */

.nav-bar {
    margin-bottom: 27vh;
}

.nav-bar > li {
    float: right;
    color: rgba(103, 154, 132, 0.7);
    font-size: 1.5em;
    display: inline;
    margin: 1em;
}

.nav-bar > li:first-child {
    float: left;
    margin: 0em;
}

#logo {
    width: 151px;
    height: 60px;
}

/* keyboard */

.row-1, .row-2, .row-3, .row-4, .row-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}

.row-1 > span, .row-2 > span, .row-3 > span, .row-4 > span, .row-5 > span {
    color: rgb(0, 0, 0, 0.75);
    border: 5px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    padding-left:8px;
    padding-right: 8px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 1px;
    margin-bottom: 1px;

}

.row-1 {
    margin-top: 5vh;
}

.row-5 > span {
    padding-left: 50px;
    padding-right: 50px;
}

.highlighthed {
    background-color: rgb(0, 0, 0, 0.3);
}

/* option button */


.option-button {
    visibility: visible;
    float: right;
    background-color: rgb(0, 0, 0, 0.3);
    border: none;
    padding: 6px;
    margin-bottom: 2px;
    margin-right: 2vh;
    font-size: 1.4vh;
    font-family: 'Heebo', sans-serif;
    border-radius: 8px;
    transition: 0.3s;
}

.option-button:hover, .x-button:hover, .option:hover, .type-button:hover, .restart-button:hover {
    background-color: rgb(0, 0, 0, 0.5);
    color: rgb(255, 255, 255, 0.5);
    border-radius: 12px;
}

/* result */

.results {
    visibility: hidden;
    position: fixed;
    padding: 2.5vh;
    margin-left: 5vh;
    width: 120vh;
    height: 60vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(36, 91, 123, 0.9);
}

/* pop up */

.pop-up {
    position: fixed;
    height: 10vh;
    width: 69vh;
    border: none;
    border-radius: 5px;
    padding: 25px;
    background-color: rgb(36, 91, 123, 0.9);

}

.type-button, .option-suffix, .mode-option, .pop-up {
    visibility: hidden;
}

.x-button, .type-button {
    color: rgb(255, 255, 255, 0.5);
    background-color: rgb(0, 0, 0, 0.3);
    margin-top: 4px;
    margin-left: 2px;
    float: right;
    border: none;
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    border-radius: 8px;
    transition: 0.3s;
}

.option, .mode-option {
    color: rgb(255, 255, 255, 0.5);
    background-color: rgb(0, 0, 0, 0.3);
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 8px;
}

.option-input {
    width: 25%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
    visibility: hidden;
    background-color: rgba(17, 18, 19, 0.5);
    color: rgb(255, 255, 255, 0.5);
    margin-right: 4.69px;
}

.restart-button {
    text-align: center;
    color: rgb(0, 0, 0, 0.75);
    background-color: rgb(0, 0, 0, 0.3);
    font-size: 1.69vh;
    font-family: 'Heebo', sans-serif;
    border-radius: 8px;
    border-style: none;
}