
.result-container {
    background-color: rgb(10, 50, 73, 0.1);
    position: absolute;
    left: 50%;
    top: 53%;
    height: 59vh;
    width: 138vh;
    transform: translate(-50%, -50%);
    /* border: 2px solid black; */
    border-radius: 2px;
    padding: 10px;
}

.next-test {
    color: rgb(255, 255, 255, 0.5);
    background-color: rgb(0, 0, 0, 0.3);
    border: none;
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
    border-radius: 8px;
    transition: 0.3s;
    position: absolute;
    top: 92%;
    left: 47%;
}

#result-chart {
    background-color: rgb(0, 0, 0, 0.3);
    float: right;
    width: 69vh;
    height: 34.9vh;
    border-radius: 5px;
}

.main-statistics {
    position: absolute;
    background-color: rgb(10, 50, 73, 0.15);
    border-radius: 5px;
    width: 62vh;
    height: 34.6025vh;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.single-stat {
    display: inline-block;
    margin-left: 19.4vh;
}

.secondary-statistics {
    position: absolute;
    top: 60%;
    background-color: rgb(10, 50, 73, 0.15);
    border-radius: 5px;
    margin-top: 3.6vh;
    height: 10vh;
    width: 98%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.single-title {
    font-size: 2.3vh;
    color: rgb(0, 0, 0, 0.6);
}

.single-result {
    font-size: 1.5vh;
    color: rgb(255, 255, 255, 0.4);
}

.stat-title {
    font-size: 5vh;
    color: rgb(0, 0, 0, 0.6);
}

.result-stat {
    font-size: 3vh;
    color: rgb(255, 255, 255, 0.4);
}